<div *ngIf="CustomEntityTypes">
    <h4>{{ Title }}</h4>
    <p>
        Notes add small extra pieces of information that inform about the investment.
    </p>
    <a [routerLink]="['/NewCustomEntityType']" class="btn btn-primary">Create new type</a>
    <table class="table table-hover">
        <thead>
            <th>Note name</th>
            <th>Note Description</th>
            <th>Action</th>
        </thead>
        <tr *ngFor="let note of CustomEntityTypes">
            <td>{{ note.name  }}</td>
            <td>{{ note.description }}</td> 
            <!-- <td><a *ngIf="note"  href="javascript:void(0)" (click)="DeleteNote(note.id)">Delete</a></td> -->
        </tr>
        
    </table>
    
    <p><strong>Total: {{ Notes.length }}</strong></p>        
    <!-- This still works
         p><a *ngIf="OwningEntityType" [routerLink]="['/NewNote', EntityTypes[OwningEntityType], OwningEntityId]" class="btn btn-primary">Create Note</a></p> -->
</div>
