<div class="modal-header">
        <h3>Create a new type of entity</h3> 
        <p>To create a new type, fill in the basic details below.</p>        
      </div>
      <div class="modal-body">  
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                    <div class="form-horizontal">
                        <h4>Entity Type</h4>
                        <hr />
                        <div class="form-group">
                            <label class= "control-label col-md-2">Name</label>
                            <div class="col-md-10">
                                <input type="text" name="name" class="form-control" formControlName="name" placeholder="Enter name"/>
                                <small id="nameHelp" class="form-text text-muted">This is the name you'll give your type</small>         
                            </div>   
                            
                        </div>
                        <div *ngIf="form.controls.name.errors?.pattern">
                            <alert type="warning">
                                <strong>Warning!</strong> Better check yourself, you're not looking too good.
                              </alert>
                        </div>
                        <div class="form-group">
                            <label class= "control-label col-md-2">Description</label>
                            <div class="col-md-10">
                                <input type="text" name="description" class = "form-control" formControlName="description" placeholder="Enter description"/>
                                <small id="nameHelp" class="form-text text-muted">This is the description you'll give your type</small>         
                            </div>
                        </div>
                        <div *ngIf="form.controls.description.errors?.pattern">
                            <alert type="warning">
                                <strong>Warning!</strong> Better check yourself, you're not looking too good.
                              </alert>
                        </div>
                
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" [disabled]="!form.valid" />
                            </div>
                        </div>
                    </div>
                </form>
      </div>

<!-- <div id="content">
<h3>Create a new type of entity</h3> 
<p>To create a new type of investment, fill in the basic details below.</p>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-horizontal">
        <h4>Entity Type</h4>
        <hr />
        <div class="form-group">
            <label class= "control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" name="name" class="form-control" formControlName="name" placeholder="Enter name"/>
                <small id="nameHelp" class="form-text text-muted">This is the name you'll give your investment</small>         
            </div>   
            
        </div>
        <div *ngIf="form.controls.name.errors?.pattern">
            <alert type="warning">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
              </alert>
        </div>
        <div class="form-group">
            <label class= "control-label col-md-2">Description</label>
            <div class="col-md-10">
                <input type="text" name="description" class = "form-control" formControlName="description" placeholder="Enter description"/>
                <small id="nameHelp" class="form-text text-muted">This is the description you'll give your investment</small>         
            </div>
        </div>
        <div *ngIf="form.controls.description.errors?.pattern">
            <alert type="warning">
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
              </alert>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" [disabled]="!form.valid" />
            </div>
        </div>
    </div>
</form>

<div>
  
</div>
</div> -->
