
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-horizontal">
        <h1>Login</h1>
        <hr />
        <p>Please login in order to use the site</p>
        <div class="form-group">
            <label class= "control-label col-md-2">Username</label>
            <div class="col-md-4">
                <input type="text" name="username" class="form-control" formControlName="username"/>
            </div>            
        </div>
        <div *ngIf="form.controls.username.errors?.pattern">
            <alert type="warning">
                <strong>Warning!</strong> There is an issue with this input
              </alert>
        </div>
        <div class="form-group">
            <label class= "control-label col-md-2">Password</label>
            <div class="col-md-4">
                <input type="text" name="password" class = "form-control" formControlName="password"/>
            </div>
        </div>
        <div *ngIf="form.controls.password.errors?.pattern">
            <alert type="warning">
              <strong>Warning!</strong> There is an issue with this input
              </alert>
        </div>   
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Login" class="btn btn-default" [disabled]="!form.valid" />
          </div>
      </div>     
    </div>
</form>

