<div *ngIf="Entity">
    <h1>
        <inline-editor #nameElement type="text" size="30" [(ngModel)]="Entity.name" (onSave)="saveEditable(nameElement, Entity.id)" name="name" ></inline-editor>
    </h1>
    <h4>Investment Influence Factor</h4>
    <hr />
    <dl class="dl-horizontal">       
        <dt>Description</dt>
        <dd><inline-editor #descriptionElement type="text" size="30" [(ngModel)]="Entity.description" (onSave)="saveEditable(descriptionElement, Entity.id)" name="description"></inline-editor></dd>
        <dt>Influence</dt>
        <dd><inline-editor #influenceElement type="text" size="30" [(ngModel)]="Entity.influence" (onSave)="saveEditable(influenceElement, Entity.id)" name="influence"></inline-editor></dd>
    </dl>
    
    <tabset>
        <tab heading="Investments" id="tab_investments">           
            <div>
                <app-list-investments [Entity]="Entity"></app-list-investments>
            </div>
        </tab>
        <tab heading="Notes" id="tab_notes">           
            <app-list-notes *ngIf="Entity" [Notes]="Notes" [OwningEntityType]="EntityTypes[EntityTypes.InvestmentInfluenceFactor]" [OwningEntityId]="Entity.id"></app-list-notes>
            <button type="button" class="btn btn-primary" (click)="openModalWithNewNoteComponent()">Add a note</button>            
        </tab>
    </tabset>

    
    
    <app-shared-graph [EntityType]="EntityTypes.InvestmentInfluenceFactor" [Id]="Entity.id"></app-shared-graph>
    
</div>