<h1>Investment Regions</h1>
<p>Investments can be within different geographic locations that have specific influences on them. Defining regions that investments share can show how these investments are affected by those influences.</p>


<p></p>
<p><input class="form-control" [(ngModel)]="searchText" placeholder="Search text goes here"></p>
<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Investments</th>
        <th><!--Delete--></th>        
    </thead>
    
    <tr *ngFor="let region of Regions | filter : searchText">
        <td><a [routerLink]="['/RegionDetails', region.id]">{{ region.name }}</a></td>
        <td>{{ region.description }}</td>
        <td><a [routerLink]="['/RegionDetails', region.id]">{{ region.investments.length }}</a></td>
        <td><a (click)="delete(region.id)" href="javascript:void(0)">Delete</a></td>
    </tr>

</table>
<p><strong>Total: {{ Regions?.length }}</strong></p>
<!-- <a [routerLink]="['/NewRegion']" class="btn btn-primary">Create Region</a> -->
<button type="button" class="btn btn-primary" (click)="openModalWithNewRegionComponent()">Create region</button>
<button type="button" class="btn btn-primary" (click)="openShowRelationships(template)">Show relationships</button>


<div>
    <app-bargraph *ngIf="Regions" [EntityType]="EntityTypes.Region" [Entities]="Regions" [InvestmentId]="0"></app-bargraph>
</div>
<!--<app-piegraph *ngIf="Regions" [EntityType]="EntityTypes.Region" [Entities]="Regions" [InvestmentId]="0"></app-piegraph>-->




<ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Shared Investment Regions</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">  
            <app-shared-graph [EntityType]="EntityTypes.Region" [InvestmentId]="0"></app-shared-graph>
        </div>
      </ng-template>

