<div *ngIf="Entity">
    <h1><inline-editor #nameElement type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(nameElement, Entity.id)" name="name" size="30"></inline-editor></h1>
    <h4>Investment Region</h4>
    <hr />    
    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd><inline-editor #descriptionElement type="text" [(ngModel)]="Entity.description" (onSave)="saveEditable(descriptionElement, Entity.id)" name="description" size="30"></inline-editor></dd>
    </dl>
    <tabset>
        <tab heading="Investments" id="tab_investments">           
            <div>
                <app-list-investments [Entity]="Entity"></app-list-investments>
            </div>
        </tab>
        <tab heading="Notes" id="tab_notes">
            <app-list-notes *ngIf="Entity" [Notes]="Notes" [OwningEntityType]="EntityTypes[EntityTypes.Region]" [OwningEntityId]="Entity.id"></app-list-notes>
            <button type="button" class="btn btn-primary" (click)="openModalWithNewNoteComponent()">Add a note</button>            
        </tab>      
    </tabset>

    <app-shared-graph [EntityType]="EntityTypes.Region" [Id]="Entity.id"></app-shared-graph>
</div>
