<h1>Investment Regions</h1>
<p>Investments can be within different geographic locations that have specific influences on them. Defining regions that investments share can show how these investments are affected by those influences.</p>

<a [routerLink]="['/NewRegion']" class="btn btn-primary">Create Region</a>
<p></p>
<p><input class="form-control" [(ngModel)]="searchText" placeholder="Search text goes here"></p>
<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Investments</th>
        <th><!--Delete--></th>        
    </thead>
    
    <tr *ngFor="let region of Regions | filter : searchText">
        <td><a [routerLink]="['/RegionDetails', region.id]">{{ region.name }}</a></td>
        <td>{{ region.description }}</td>
        <td><a [routerLink]="['/RegionDetails', region.id]">{{ region.investments.length }}</a></td>
        <td><a (click)="delete(region.id)" href="javascript:void(0)">Delete</a></td>
    </tr>

</table>

<app-shared-graph [EntityType]="EntityTypes.Region" [InvestmentId]="0"></app-shared-graph>
<p><strong>Total: {{ Regions?.length }}</strong></p>

