<div *ngIf="Activities">
        <h4>{{ Title }}</h4>
        <p>
            These are the actions and activities that the investment has undergone.
        </p>
        <table class="table table-hover">
            <thead>
                <th>Time</th>
                <th>Name</th>
                <th>Activity details</th>
                <th>Owner Type</th>
                <th>Owner Id</th>
                <th>tag</th>
                <th>User</th>
            </thead>
            <tr *ngFor="let activity of Activities">
                <td>{{ activity.lastModifiedTime | date : 'medium'  }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.details  }}</td>
                <td>{{ EntityTypes[activity.owningEntityType] }}</td>
                <td>{{ activity.owningEntityId  }}</td>
                <td>{{ activity.tag  }}</td>
                <td> {{activity.user }}</td>

                <!-- 
                     id: number;
    name: string;
    description: string;
    user: string;
    tag: string;
    details: string;
    atTime: string;
    owningEntityId: number;
    owningEntityType: EntityTypes;
                -->
                <td></td>
                
            </tr>
            
        </table>
        
        <p><strong>Total: {{ Activities.length }}</strong></p>        
        <!-- This still works
             p><a *ngIf="OwningEntityType" [routerLink]="['/NewNote', EntityTypes[OwningEntityType], OwningEntityId]" class="btn btn-primary">Create Note</a></p> -->
    </div>
    