<div *ngIf="CustomEntities">
    <h4>{{Type}}</h4>
    <p>
        These are the associated {{Type}}s
    </p>
    <table class="table table-hover">
        <thead>
            <td>Name</td>
            <th>Description</th>
            <th>Action</th>
        </thead>
        <tr *ngFor="let entity of CustomEntities | FilterByType:Type">
            <td>{{ entity.name  }}</td>
            <td>{{ entity.description  }}</td>   
            <td><a *ngIf="entity"  href="javascript:void(0)" (click)="DeleteCustomEntity(entity.id)">Delete</a></td>               
            <!-- <td>{{entity |json}}</td> -->
        </tr>
        
    </table>       
   
</div>