<div *ngIf="Entity">
    <h1><inline-editor #nameElement type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(nameElement, Entity.id)" name="name" size="30"></inline-editor></h1>
    <h4>Investment Group</h4>
    <hr />
    <dl *ngIf="Entity" class="dl-horizontal">       
        <dt>Description</dt>
        <dd><inline-editor #descriptionElement pattern="^.+$" type="text" min="1" type="text" [(ngModel)]="Entity.description" (onSave)="saveEditable(descriptionElement, Entity.id)" name="description" size="30"></inline-editor></dd>
        <dt>Type</dt>
        <dd><inline-editor #typeElement  pattern="^.+$" type="text" min="1" type="text" [(ngModel)]="Entity.type" (onSave)="saveEditable(typeElement, Entity.id)" name="type" size="30"></inline-editor></dd>
    </dl>
    
    <tabset>
        <tab heading="Investments" id="tab_investments">           
            <div>
                <app-list-investments [Entity]="Entity"></app-list-investments>      
            </div>
        </tab>
        <tab heading="Sub groups" id="tab_subgroups">
            <div>
                <h3>Sub groups</h3>
                <app-list-groups [ParentGroup]="Entity" [Groups]="Entity.children"></app-list-groups>
            </div>
        </tab>
        <tab heading="Notes" id="tab_notes">            
        <div>
            <app-list-notes *ngIf="Entity" [Notes]="Notes" [OwningEntityType]="EntityTypes[EntityTypes.InvestmentGroup]" [OwningEntityId]="Entity.id"></app-list-notes>
            <!--
            <app-list-notes *ngIf="Entity" [Notes]="Notes" [OwningEntityType]="EntityTypes[EntityTypes.Investment]" [OwningEntityId]="Entity.id"></app-list-notes>
            -->
            <button type="button" class="btn btn-primary" (click)="openModalWithNewNoteComponent()">Add a note</button>            
            
        </div>
        </tab>
    </tabset>

<div>
    <app-shared-graph [EntityType]="EntityTypes.InvestmentGroup" [Id]="Entity.id"></app-shared-graph>
</div>

</div>


