<h2>Investment Groupings<span class="badge badge-light">New</span></h2>


<p>
    Investments can be grouped into the same containers to add a relationship between them.
    Grouped investments share a commonality.
</p>

<p>These are all the factors that are loaded in the database</p>

<p><input class="form-control" [(ngModel)]="searchText" placeholder="Search text goes here"></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            <th>#Children</th>
            <th>Parent</th>
            <th></th> <!--Delete -->
        </tr>
    </thead>
    <tr *ngFor="let group of Groups | filter : searchText">
        <td>
            <a [routerLink]="['/GroupDetails', group.id]">{{ group.name }}</a>                 
        </td>

        <td>{{ group.description }}</td>
        <td>{{ group.type }}</td>
        <td><a [routerLink]="['/GroupDetails', group.id]">{{ group?.investments.length }}</a> </td>
        <td>{{ group.children?.length }}</td>
        <td>{{ group.parent?.name}}</td>
        <td><a (click)="delete(group.id)" href="javascript:void(0)">Delete</a></td>
    </tr>
</table>
<p><strong>Total: {{ Groups?.length }}</strong></p>
<p>
        <button type="button" class="btn btn-primary" (click)="openShowRelationships(template)">Show relationships</button>
        <a [routerLink]="['/NewGroup']" class="btn btn-primary">Create Group</a>
        </p>
<div>
    <app-bargraph *ngIf="Groups" [EntityType]="EntityTypes.InvestmentGroup" [Entities]="Groups" [InvestmentId]="0"></app-bargraph>
</div>
<!--
    <app-piegraph *ngIf="Groups" [EntityType]="EntityTypes.InvestmentGroup" [Entities]="Groups" [InvestmentId]="0"></app-piegraph> 
-->

<!-- 
    <app-shared-graph [EntityType]="EntityTypes.InvestmentGroup" [InvestmentId]="0"></app-shared-graph>
-->

  
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Shared Investment Groups</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-shared-graph [EntityType]="EntityTypes.InvestmentGroup" [InvestmentId]="0"></app-shared-graph>        
    </div>
  </ng-template>

