<div *ngIf="Entity">
    <h1><inline-editor #nameElement type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(nameElement, Entity.id)" min="1" name="name" size="30"></inline-editor></h1>
    <h4>Investment Risk</h4>
    <hr />
    
    <dl *ngIf="Entity" class="dl-horizontal">
        <dt>Description</dt>
        <dd><inline-editor #descriptionElement pattern="^.+$" size="30" min="1" type="text" [(ngModel)]="Entity.description" (onSave)="saveEditable(descriptionElement, Entity.id)" name="description" ></inline-editor></dd>
        <dt>Type</dt>
        <dd><inline-editor #typeElement pattern="^.+$" min="1" type="text" [(ngModel)]="Entity.type" (onSave)="saveEditable(typeElement, Entity.id)" name="type" size="30"></inline-editor></dd>
    </dl>

    <tabset>
        <tab heading="Investments" id="tab_investments">           
            <div>
                <app-list-investments [Entity]="Entity"></app-list-investments>
            </div>
        </tab>
        <tab heading="Notes" id="tab_notes">           
            <div>
                <app-list-notes *ngIf="Entity" [Notes]="Notes" [OwningEntityType]="EntityTypes[EntityTypes.InvestmentRisk]" [OwningEntityId]="Entity.id"></app-list-notes>
                <button type="button" class="btn btn-primary" (click)="openModalWithNewNoteComponent()">Add a note</button>            
            </div>
        </tab>
    </tabset>
    


    <app-shared-graph [EntityType]="EntityTypes.InvestmentRisk" [Id]="Entity.id"></app-shared-graph>
</div>

