<div *ngIf="Entity">
    <h1><inline-editor #nameElement type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(nameElement, Entity.id)" min="1" name="name" size="15"></inline-editor></h1>
    <h4>Investment Risk</h4>
    <hr />
    <dl *ngIf="Entity" class="dl-horizontal">
        <dt>Description</dt>
        <dd>
            <inline-editor #descriptionElement pattern="^.+$" size="15" min="1" type="text" [(ngModel)]="Entity.description" (onSave)="saveEditable(descriptionElement, Entity.id)" name="description" ></inline-editor>
        </dd>
        <dt>Type</dt>
        <dd><inline-editor #typeElement pattern="^.+$" min="1" type="text" [(ngModel)]="Entity.type" (onSave)="saveEditable(typeElement, Entity.id)" name="type" size="8"></inline-editor></dd>
    </dl>
</div>
<div>
        <div><app-list-investments [Entity]="Entity"></app-list-investments>  
</div>
<div><div><app-list-notes *ngIf="Entity" [OwningEntityType]="EntityTypes[EntityTypes.InvestmentRisk]" [OwningEntityId]="Entity.id"></app-list-notes></div></div>
