<h1>Investment Risks</h1>
<p>
    Risks are unknowns that affect the value of the investment. Usually risks generate split opinions and are speculative.
    Usually difficult to predict the effect on the value of the investment.
    Consumer perception for example can change and the affect of it can influence the value of the underlying company or it can improve it.
</p>
<p>
    'Market' risks are those that are external to the company but affect the companies value such as the market conditions, supply and demand and customer satisfaction.
    'Company' risks are specific to the company and thus it can influence the value such as directory dismissal, product retirement and lay-offs.
</p>


<p><input class="form-control" [(ngModel)]="searchText" placeholder="Search text goes here"></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            <th></th> <!--Delete -->
        </tr>
    </thead>
    <tr *ngFor="let risk of Risks | filter : searchText">
        <td><a [routerLink]="['/RiskDetails', risk.id]">{{ risk.name }}</a></td>
        <td>{{ risk.description }}</td>
        <td>{{ risk.type }}</td>
        <td><a [routerLink]="['/RiskDetails', risk.id]">{{ risk.investments?.length }}</a></td>
        <td><a (click)="delete(risk.id)" href="javascript:void(0)">Delete</a></td>
    </tr>
</table>
<p><strong>Total: {{ Risks?.length }}</strong></p>
<div>
        <a [routerLink]="['/NewRisk']" class="btn btn-primary">Create Risk</a>
        <button type="button" class="btn btn-primary" (click)="openShowRelationships(template)">Show relationships</button>
</div>
<div>
    
    <app-bargraph *ngIf="Risks" [EntityType]="EntityTypes.InvestmentRisk" [Entities]="Risks" [InvestmentId]="0"></app-bargraph>
</div>
<!-- <div>
    <app-piegraph *ngIf="Risks" [EntityType]="EntityTypes.InvestmentRisk" [Entities]="Risks" [InvestmentId]="0"></app-piegraph>
</div> -->

<ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Shared Investment Risks</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">  
                <app-shared-graph [EntityType]="EntityTypes.InvestmentRisk" [InvestmentId]="0"></app-shared-graph>
        </div>
</ng-template>
