<div *ngIf="Investments">
<h1>Investments</h1>

<!-- <dl class="dl-horizontal">
        <dt>Total</dt>
            <dd><p>{{Investments.length}}</p></dd>            
        
    </dl> -->
<p>Investments represent the assets that are valuable to you. </p>
<p>
    <a [routerLink]="['/NewInvestmentWizard']" class="btn btn-primary">Create Investment</a>    
</p>
<p><input class="form-control" [(ngModel)]="searchText" placeholder="Search text goes here"></p>
<table *ngIf="Investments" class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Description</th>         
        <th>Symbol</th>      
        <th>Value</th>
        <th></th> <!--Delete -->
    </thead>   
        <tr *ngFor="let investment of Investments | filter : searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <td>         
                <strong><a *ngIf="investment" [routerLink]="['/InvestmentDetails', investment.id]">{{ investment.name }}</a></strong>
            </td>
            <td>{{investment.description}}</td>            
            
            <td>{{investment.symbol}}</td>
            <td>{{investment.value}}</td>
            <td><a (click)="delete(investment.id)" href="javascript:void(0)">Delete</a></td>            
        </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<p>Total: {{Investments.length}}</p>
</div>
