<!-- <strong>[{{[EntityTypes[EntityType]]}}]</strong> -->
<p>Select the items to associate with this investment</p>
<p><input class="form-control" [(ngModel)]="searchText" placeholder="Search text goes here"></p>
<form>        
   <div class="form-horizontal">
       <hr />
       
       <table class="table table-hover">
            <thead>                                   
                <th>Name</th>
                <th>Description</th>     
            </thead>
            <tr *ngFor="let item of Items | filter : searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td>
                    <input type="checkbox" name="item" [(ngModel)]="item.checked" value="{{item.name}}"/>
                    <span style="padding-left: 5px;">{{item.name}}</span>
                </td>                
                <td>{{item.description}} </td>
            </tr>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </div>
</form>
<!-- 
<pre>{{ Items | json }}</pre> 
-->

